<button class="app"  onclick="  window.open(
          'g/2048/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">2048</button>
<button class="app"  onclick="  window.open(
          'g/asteroids/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">asteroids</button>
<button class="app"  onclick="  window.open(
          'g/astray/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">astray</button>
<button class="app"  onclick="  window.open(
          'g/backcountry/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">backcountry</button>
<button class="app"  onclick="  window.open(
          'g/bounceback/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">bounceback</button>
<button class="app"  onclick="  window.open(
          'g/breaklock/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">breaklock</button>
<button class="app"  onclick="  window.open(
          'g/breakout/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">breakout</button>
<button class="app"  onclick="  window.open(
          'g/chess/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">chess</button>
<button class="app"  onclick="  window.open(
          'g/chromaincident/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">chromaincident</button>
<button class="app"  onclick="  window.open(
          'g/connect3/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">connect3</button>
<button class="app"  onclick="  window.open(
          'g/cookieclicker/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">cookieclicker</button>
<button class="app"  onclick="  window.open(
          'g/cubefield/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">cubefield</button>
<button class="app"  onclick="  window.open(
          'g/doodle-jump/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">doodle-jump</button>

  <button class="app"  onclick="  window.open(
          'g/evilglitch/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">evilglitch</button>
  <button class="app"  onclick="  window.open(
          'g/factoryballsforever/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">factoryballsforever</button>


  <button class="app"  onclick="  window.open(
          'g/sm64/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">super mario 64</button>
  <button class="app"  onclick="  window.open(
          'g/underrun/index.html',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">underrun</button>
  <button class="app"  onclick="  window.open(
          'https://gba-jack.netlify.app/',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );">gba-jack</button>
  <button class="app"  onclick="  window.open(
          '',
          '_blank',
          'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500'
        );"></button>



  <style>
    body {
  background-color: #3F3F3F;
  text-align: center;
}


#loadMod {
  position: absolute;
  top: 0;
  display: none;
  background-color: white;
}


#BookmarkMaker {
  position: absolute;
}

#content {
  text-align: center;
  background-color: black;
  color: white;
  width: 50%;
  height: 600px;
  position: relative;
  top: 25px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.app {
  text-align: center;
background-color: #3F3F3F;
font-size: 15px;
  animation: colorRotate 6s linear 0s infinite;
  min-height: 45px;
  min-width: 45px;
  margin: 10px;

  padding: 5px;
  border-radius: 100px;
}

#nav {
  position: absolute;
  right: 0;
}

#settings {
  position: fixed;
  top: 50;
  right: 50;
  background-color: white;
  height: 350px;
  z-index: 9999999999;
}


html,button {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.rainbow {
  text-align: center;

  font-size: 32px;
  font-family: monospace;

  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
</style>
